.idea/
data/logs/*.log
venv*/

# OS Specific
.DS_Store

# Byte-compiled / optimized / DLL files
# Developers should consider setting PYTHONDONTWRITEBYTECODE=1 environtment variable
# This will ensure your interpreter no longer generates the following files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Flask stuff:
instance/
.webassets-cache

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mkdocs documentation
/site

data/db/collection-4-5679219642093873579.wt
data/db/index-6-5679219642093873579.wt
data/db/WiredTiger.turtle
data/db/WiredTigerHS.wt
data/db/index-5-5679219642093873579.wt
data/db/WiredTiger
data/db/collection-2-5679219642093873579.wt
data/db/collection-0-5679219642093873579.wt
data/db/index-1-5679219642093873579.wt
data/db/mongod.lock
data/db/WiredTiger.lock
data/db/index-3-5679219642093873579.wt
data/db/_mdb_catalog.wt
data/db/sizeStorer.wt
data/db/WiredTiger.wt
data/db/storage.bson
data/db/diagnostic.data/
data/db/journal/
data/csv/pums18_loc.csv
data/csv/pums18_lab.csv
data/csv/pums18_edu.csv
data/csv/pums18_occ.csv
data/csv/pums18_ind.csv
/data/db/collection-7-5679219642093873579.wt
/data/db/collection-9-5679219642093873579.wt
/data/db/collection-11-5679219642093873579.wt
/data/db/collection-13-5679219642093873579.wt
/data/db/collection-15-5679219642093873579.wt
/data/db/index-8-5679219642093873579.wt
/data/db/index-10-5679219642093873579.wt
/data/db/index-12-5679219642093873579.wt
/data/db/index-14-5679219642093873579.wt
/data/db/index-16-5679219642093873579.wt
/notebooks/analysis.ipynb
/data/db/collection-0--4808127131750412839.wt
/data/db/collection-2--4808127131750412839.wt
/data/db/collection-4--4808127131750412839.wt
/data/db/collection-60--6927695259718054064.wt
/data/db/collection-62--6927695259718054064.wt
/data/db/collection-64--6927695259718054064.wt
/data/db/collection-66--6927695259718054064.wt
/data/db/collection-68--6927695259718054064.wt
/notebooks/dashboard.ipynb
/notebooks/dataset.ipynb
/notebooks/mappings/edu.py
/notebooks/explainer.ipynb
/notebooks/mappings/geo.py
/notebooks/mappings/ind.py
/data/db/index-1--4808127131750412839.wt
/data/db/index-3--4808127131750412839.wt
/data/db/index-5--4808127131750412839.wt
/data/db/index-6--4808127131750412839.wt
/data/db/index-61--6927695259718054064.wt
/data/db/index-63--6927695259718054064.wt
/data/db/index-65--6927695259718054064.wt
/data/db/index-67--6927695259718054064.wt
/data/db/index-69--6927695259718054064.wt
/notebooks/mappings/occ.py
