Click
dash
dash-core-components
dash-bootstrap-components
dash-dangerously-set-inner-html
dash-html-components
dash-renderer
dash-table
Flask
Flask-Compress
future
itsdangerous
Jinja2
MarkupSafe
plotly
retrying
six
Werkzeug
shap
pandas
pymongo
xgboost==1.1.0
lightgbm
scikit-learn
seaborn
yellowbrick
ipython
jupyter
jupyter_contrib_nbextensions
jupyter_dash
wheel